body{
    background: radial-gradient(circle, rgb(190, 119, 57), rgb(4, 137, 117), rgb(19, 27, 43));
}   
.mens_cont {
    position: relative;
    perspective: 1000px;
}
.mens_card {
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}
.mens_cont:hover .mens_card {
    transform: rotateY(180deg);
}
.mens_front, .mens_back {
    position: absolute;
    width: 20rem;
    height: 30rem;
    backface-visibility: hidden;
}
.mens_back {
    transform: rotateY(180deg);
}